[package]
name = "snippet"
version = "0.1.0"
edition = "2021"
authors = ["araraloren"]
description = "Running c/c++/rust snippet from command line"

[dependencies]
wasmtime.workspace = true
color-eyre.workspace = true
cote.workspace = true
wasmtime-wasi.workspace = true
async-trait.workspace = true
wac-graph.workspace = true
tokio.workspace = true
which.workspace = true
tracing-subscriber.workspace = true
tracing.workspace = true
rustyline.workspace = true

[build-dependencies]
color-eyre.workspace = true
wit-deps.workspace = true

[[bin]]
name = "snippet"
path = "src/main.rs"
