[package]
name = "snippet"
version = "0.1.0"
edition = "2021"
authors = ["araraloren"]

[dependencies]
wasmtime.workspace = true
color-eyre.workspace = true

[build-dependencies]
color-eyre.workspace = true
wit-deps.workspace = true

[[bin]]
name = "snippet"
path = "src/main.rs"
